:root{

  --light-pink:#e83c8a;
  --dark-pink:#a64f75;
  --white:rgb(255, 255, 255);
  --black:rgb(0, 0, 0); 

}

#cardSlide .slide-container{
  width: 100%;
}

#cardSlide{
  min-height: auto;
  width: 100%;
  padding-bottom: 20px;

}

#cardSlide .name{
  color: var(--black);
}


#cardSlide .slide-content{

  border-radius: 5px;
  height: 100%;
  width: 100%;
 
  
}

#cardSlide .card{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #FFF;
  height: auto;
  padding: 20px;

 
}


#cardSlide .description{
  font-size: calc(0.6em + 1vmin);
  color: #707070;
}

.card-content p{
  text-align: justify;
  font-size: 2rem;
}
.card-content{
  text-align: center;
}


.swiper-button-next,.swiper-button-prev{
  color: var(--light-pink);
}

#cardSlide .button{
  border: none;
  font-size: 15px;
  color: #FFF;
  padding: 8px 16px;
  background-color: var(--light-pink);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}



@media screen and (max-width: 768px) {
  #cardSlide .slide-content{
    margin: 0 10px;
  }
  #cardSlide .swiper-navBtn{
    display: none;
  }
}

@media screen and (max-height: 800px) {
  #cardSlide .description{
    font-size: 1rem;
    color: #e83c8a;
  }
  #cardSlide .name{
    font-size: 1.2rem;
  }

  #cardSlide .button{
    font-size: 0.8rem;
  }
  #cardSlide .card-content{
    padding: 0 1px;
  }

  #cardSlide .slide-content{
    height: 60vh;
  }
}