@import url('http://fonts.cdnfonts.com/css/dm-sans');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'DM-Sans', sans-serif;
    scroll-behavior: smooth;
}
